/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */

import * as z from "zod/v4-mini";
import { SDKCore } from "../core.js";
import { encodeFormQuery, encodeSimple } from "../lib/encodings.js";
import * as M from "../lib/matchers.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { RequestOptions } from "../lib/sdks.js";
import { extractSecurity, resolveGlobalSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import {
  ConnectionError,
  InvalidRequestError,
  RequestAbortedError,
  RequestTimeoutError,
  UnexpectedClientError,
} from "../models/errors/http-client-errors.js";
import * as errors from "../models/errors/index.js";
import { ResponseValidationError } from "../models/errors/response-validation-error.js";
import { SDKError } from "../models/errors/sdk-error.js";
import { SDKValidationError } from "../models/errors/sdk-validation-error.js";
import * as models from "../models/index.js";
import * as operations from "../models/operations/index.js";
import { APICall, APIPromise } from "../types/async.js";
import { Result } from "../types/fp.js";

/**
 * Get Joinable Spaces By User
 *
 * @remarks
 * Get spaces owned by a user that the current viewer can join.
 *
 * This endpoint returns spaces where the target user is an owner and the current
 * viewer has permission to join based on visibility rules:
 * - PUBLIC: Always visible to all users
 * - TENANT: Visible only to users in the same organization
 * - MEMBERS_ONLY: Excluded from joinable list (requires approval)
 *
 * Args:
 *     user_id: UUID string of the user whose spaces to retrieve
 *     limit: Maximum number of spaces to return (default: 10, max: 12)
 *     prev: Previous ID for cursor-based pagination
 *     sort_by: Field to sort by (default: "created_at")
 *     sort_order: Sort order - "asc" or "desc" (default: "desc")
 *
 * Returns:
 *     List[GetSpaceListResponseDTO]: List of joinable spaces
 *
 * Raises:
 *     HTTPException: 401 for unauthorized access, 500 for server errors
 */
export function spaceGetJoinableSpacesByUserApiV1SpaceByUserUserIdJoinableGet(
  client: SDKCore,
  request:
    operations.GetJoinableSpacesByUserApiV1SpaceByUserUserIdJoinableGetRequest,
  options?: RequestOptions,
): APIPromise<
  Result<
    Array<models.GetSpaceListResponseDTO>,
    | errors.HTTPValidationError
    | SDKError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >
> {
  return new APIPromise($do(
    client,
    request,
    options,
  ));
}

async function $do(
  client: SDKCore,
  request:
    operations.GetJoinableSpacesByUserApiV1SpaceByUserUserIdJoinableGetRequest,
  options?: RequestOptions,
): Promise<
  [
    Result<
      Array<models.GetSpaceListResponseDTO>,
      | errors.HTTPValidationError
      | SDKError
      | ResponseValidationError
      | ConnectionError
      | RequestAbortedError
      | RequestTimeoutError
      | InvalidRequestError
      | UnexpectedClientError
      | SDKValidationError
    >,
    APICall,
  ]
> {
  const parsed = safeParse(
    request,
    (value) =>
      z.parse(
        operations
          .GetJoinableSpacesByUserApiV1SpaceByUserUserIdJoinableGetRequest$outboundSchema,
        value,
      ),
    "Input validation failed",
  );
  if (!parsed.ok) {
    return [parsed, { status: "invalid" }];
  }
  const payload = parsed.value;
  const body = null;

  const pathParams = {
    user_id: encodeSimple("user_id", payload.user_id, {
      explode: false,
      charEncoding: "percent",
    }),
  };

  const path = pathToFunc("/api/v1/space/by-user/{user_id}/joinable")(
    pathParams,
  );

  const query = encodeFormQuery({
    "limit": payload.limit,
    "prev": payload.prev,
    "sort_by": payload.sort_by,
    "sort_order": payload.sort_order,
  });

  const headers = new Headers(compactMap({
    Accept: "application/json",
  }));

  const securityInput = await extractSecurity(client._options.security);
  const requestSecurity = resolveGlobalSecurity(securityInput);

  const context = {
    options: client._options,
    baseURL: options?.serverURL ?? client._baseURL ?? "",
    operationID:
      "get_joinable_spaces_by_user_api_v1_space_by_user__user_id__joinable_get",
    oAuth2Scopes: null,

    resolvedSecurity: requestSecurity,

    securitySource: client._options.security,
    retryConfig: options?.retries
      || client._options.retryConfig
      || { strategy: "none" },
    retryCodes: options?.retryCodes || ["429", "500", "502", "503", "504"],
  };

  const requestRes = client._createRequest(context, {
    security: requestSecurity,
    method: "GET",
    baseURL: options?.serverURL,
    path: path,
    headers: headers,
    query: query,
    body: body,
    userAgent: client._options.userAgent,
    timeoutMs: options?.timeoutMs || client._options.timeoutMs || -1,
  }, options);
  if (!requestRes.ok) {
    return [requestRes, { status: "invalid" }];
  }
  const req = requestRes.value;

  const doResult = await client._do(req, {
    context,
    errorCodes: ["422", "4XX", "5XX"],
    retryConfig: context.retryConfig,
    retryCodes: context.retryCodes,
  });
  if (!doResult.ok) {
    return [doResult, { status: "request-error", request: req }];
  }
  const response = doResult.value;

  const responseFields = {
    HttpMeta: { Response: response, Request: req },
  };

  const [result] = await M.match<
    Array<models.GetSpaceListResponseDTO>,
    | errors.HTTPValidationError
    | SDKError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >(
    M.json(200, z.array(models.GetSpaceListResponseDTO$inboundSchema)),
    M.jsonErr(422, errors.HTTPValidationError$inboundSchema),
    M.fail("4XX"),
    M.fail("5XX"),
  )(response, req, { extraFields: responseFields });
  if (!result.ok) {
    return [result, { status: "complete", request: req, response }];
  }

  return [result, { status: "complete", request: req, response }];
}
